* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,body{
            background-color: black;
            scrollbar-width: none;
            width: 100%;
            height: 100%;
            position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
        }

::-webkit-scrollbar{
    display: none;
}

@font-face {
    font-family: myFont;
    src: url(abs.ttf);
}

.h1{
    background-color:black;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 25px;
    font-family: myFont;
    padding: 1%;
}

.menu{
    height:40%;
    position:absolute;
    right:0;
    top:6.5%;
    width:0px;
    color:white;
    display: none;
transition: 250ms ease-in-out;
background-color: rgb(1, 1, 12);
padding: 6px;
opacity: 0;
}

.secstyle{
    font-size: larger;
    margin-bottom: 10%;
    margin-left: 6%;
}

.secstyle:hover{
    color: yellow;
}

.sidebaricontoggle{  
    width:18px;
    height: 25px;
    position:absolute;
    z-index:20;
    top:2%;
    right:2%;
    cursor:pointer;
}

.spinner{
    height:3px;
    background:#fff;
    transition:all 0.3s;
}

.spinner.middle, .spinner.bottom{
    margin-top:3px;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.middle{
    opacity:0;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.top{
transform:rotate(135deg);
margin-top: 8px;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;
}

#openSidebarMenu:checked ~ .menu{
    display: block;
   width: 180px;
    opacity: 1;
}

.check{
    opacity: 0;
}

.dumbel-logo{
    width: 50px;
    color: white;
}

.slide{
    width: 100%;
    height: 60%;
   position: absolute;
   top: 7%;
   animation: autoplay 16s infinite linear;
   opacity: 0;
}

@keyframes autoplay{
    0%{
     opacity: 0;
    }
    25%{
     opacity: 1;
    }
    50%{
     opacity: 1;
    }
    75%{
     opacity: 0;
    }
    100%{
     opacity: 0;
    }
}

.slide:nth-child(1){animation-delay: 0s;}
.slide:nth-child(2){animation-delay: 8s;}

.quotes{
    color: white;
    background-color:rgba(255, 255, 255, 0.5);
     opacity: 1;
     text-align: center;
     font-size: x-large;
     font-weight: 500;
     position: absolute;
     top: 20%;
     left: 5%;
}

@font-face {
    font-family: myFont2;
    src: url(heavybrush.ttf);
}

.join-now{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    background:transparent;
    color:white;
    border-style: double;
    font-family: myFont2;
}

.join-now:hover{
    color:black;
    background-color: yellow;
}

.join-color{
    color:black;
    background-color: yellow;
}

@font-face {
    font-family: myFont3;
    src: url(news.ttf);
}

.subhead{
    background-color:transparent;
   border-radius: 10px;
   border-color: red;
   border-width: 2px;
   border-style:outset;
    width: 100%;
    height: 58px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 67%;
    color: white;
    padding: 1%;
    font-family: myFont3;
}

.para{
    position: absolute;
    top: 80%;
    color: white;
    margin-top: 2%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.p{
    transform: translateY(20px);
    opacity: 0.1;
    transition: .8s ease-in-out;
}

.fade{
    transform: translateY(0);
    opacity: 1;
}

.picslide1{
    width: 100%;
    position: absolute;
    top: 67%;
    opacity: 0;
    height: 0;
    transition: .8s ease-in-out;
}

.picdown{
    height: 70%;
    opacity: 0.5;
}

.subhead2{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 135%;
    color:black;
    padding: 1%;
    font-family: myFont2;
}

.height{
    position: absolute;
    top: 148%;
    left: 3%;
    width: 20%;
    height: 30px;
    background-color: transparent;
    border-style: none;
    border-bottom: 3px solid white;
    outline: none;
    text-align: center;
    font-size: large;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.weight{
    position: absolute;
    top: 156%;
    left: 3%;
    width: 20%;
    height: 30px;
    background-color: transparent;
    border-style: none;
    border-bottom: 3px solid white;
    outline: none;
    text-align: center;
    font-size: large;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

@font-face {
    font-family: myFont4;
    src: url(typo.otf);
}

#bmi-btn{
    position: absolute;
    top: 165%;
    left: 3%;
    width: 25%;
    height: 35px;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-family: myFont4;
}

.lh{
    position: absolute;
    top:148%;
    left: 23%;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lw{
    position: absolute;
    top:156%;
    left: 23%;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picslide2{
    width: 0%;
    position: absolute;
    top: 135%;
    left: 100%;
    opacity: 0;
    height: 60%;
    transition: .8s ease-in-out ;
}

.picside{
    width: 100%;
    left: 0;
    height: 60%;
    opacity: 0.5;
}

#bmi-result{
    color: yellow;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 148%;
    left: 36%;
}

#pg{
    color: yellow;
    font-size: larger;
    font-family: myFont4;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    top: 156%;
    left: 35%;
    display: none;
}

.subhead3{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 190%;
    color:black;
    padding: 1%;
    font-family: myFont2;
}

.prog1{
    position: absolute;
    top:205%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 20, 20);
    padding: 3%;
}

.ph1{
    text-align: center;
    font-size: x-large;
    color: white;
    font-family: myFont4;
    margin-bottom: 5%;
}

.prog-des{
    text-align: center;
    font-size: large;
    color: white;
    font-family: myFont4;
  word-spacing: 2px;
}

.prog2{
    position: absolute;
    top:255%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 20, 20);
    padding: 3%;
}

.prog3{
    position: absolute;
    top:307%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 20, 20);
    padding: 3%;
    margin-bottom: 5%;
}

.prog4{
    position: absolute;
    top:360%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 20, 20);
    padding: 3%;
    margin-bottom: 5%;
}

.prog5{
    position: absolute;
    top:400%;
    left: 10%;
    width: 80%;
    background-color: rgb(20, 20, 20);
    padding: 3%;
    margin-bottom: 5%;
}

.icons{
    width: 40px;
    height: 40px;
    padding-right: 2%;
    color: white;
}

.subhead4{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 450%;
    color:black;
    padding: 1%;
    font-family: myFont2;
}

.price{
    position: absolute;
    top: 465%;
    left: 10%;
   border-radius: 10px;
   border-color: red;
   border-width: 2px;
   border-style:outset;
   width: 80%;
   height: 200px;
   padding: 5%;
}

.adm , .mnt{
    font-size: x-large;
    color: white;
     text-align: center;
     font-weight: bold;
     font-family: myFont3;
     margin-bottom: 1%;
}

.psec-slide{
    position: absolute;
    top: 455%;
    width: 0;
    height: 50%;
    opacity: 0;
    transition: .8s ease-in-out ;
}

.psecto{
    position: absolute;
    top: 455%;
    width: 100%;
    height: 50%;
    opacity: 1;
}

.subhead5{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 510%;
    color:black;
    padding: 1%;
    font-family: myFont2;
}

.progh:hover{
    background-color: rgb(228, 228, 20);
}

.prog-des:hover,.ph1:hover{
    color: black;
}

.para2{
    position: absolute;
    top: 525%;
    left: 15%;
    text-align: center;
    color: white;
    font-size: large;
    font-family: myFont4;
}

.para3{
    position: absolute;
    top: 540%;
    left: 10%;
    text-align: center;
    color: white;
    font-size: large;
    font-family: myFont4;
}

@font-face {
    font-family: myFont5;
    src: url(ed.ttf);
}

.no1{
     position: absolute;
    top: 553%;
    left: 10%;
    color: yellow;
    font-size: 45px;
    font-family: myFont5;
}

.no2{
     position: absolute;
    top: 553%;
    left: 65%;
    color: yellow;
    font-size: 45px;
    font-family: myFont5;
}

.txt2{
     position: absolute;
    top: 563%;
    left: 58%;
    color: white;
    font-size: larger;
    font-family: myFont5;
}

.txt1{
     position: absolute;
    top: 563%;
    left: 7%;
    color: white;
    font-size: larger;
    font-family: myFont5;
}

.abtslide{
    position: absolute;
    top: 543%;
    left: 100%;
    width: 0%;
    opacity: 0;
    transition: .8s ease-in-out;
}

.abtside{
    position: absolute;
    top: 543%;
    left: 50%;
    width: 50%;
    opacity: 1;
}

.para4{
    position: absolute;
    top: 577%;
    left: 15%;
    text-align: center;
    color: white;
    font-size: large;
    font-family: myFont4;
}

.abtslide2{
    position: absolute;
    top: 576%;
    height:130px;
    width: 0%;
    opacity: 0;
    transition: .8s ease-in-out;
}

.abtside2{
    position: absolute;
    top: 576%;
    width:130%;
    height:200px;
    opacity: 0.5;
}

.dumbel-anim{
    position: absolute;
    top: 620%;
    left:40%;
    width: 20%;
    height: 90px;
}

.dumbel-long{
    position: absolute;
    top: 620%;
    left:0;
    width: 100%;
    height: 120px;
}

.para5{
    position: absolute;
    top: 655%;
    left: 0;
    text-align: center;
    color: white;
    font-size: large;
    font-family: myFont4;
}

.abtslide3{
    position: absolute;
    top: 655%;
    left: 100%;
    height: 300px;
    width:0;
    opacity: 0;
    transition: .8s ease-in-out;
}

.abtside3{
    position: absolute;
    top: 655%;
    left: 0;
    width:100%;
    height: 300px;
    opacity:0.5;
}

.para6{
    position: absolute;
    top: 710%;
    left: 0;
    text-align: center;
    color: white;
    font-size: large;
    font-family: myFont4;
}

.endh1{
    position: absolute;
    top: 755%;
    left: 35%;
    color: red;
    text-align: center;
    font-size: 35px;
    font-family: myFont5;
}

.endpara1{
    position: absolute;
    top: 765%;
    left: 13%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.endpara2{
    position: absolute;
    top: 776%;
    left: 20%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.endh2{
    position: absolute;
    top: 790%;
    left: 20%;
    color: red;
    text-align: center;
    font-size: 35px;
    font-family: myFont5;
}

.epara3{
    position: absolute;
    top: 800%;
    left: 25%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.epara4{
    position: absolute;
    top: 809%;
    left: 25%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.epara5{
    position: absolute;
    top: 817%;
    left: 38%;
    color: red;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.endh3{
    position: absolute;
    top: 834%;
    left: 40%;
    color: red;
    text-align: center;
    font-size: 35px;
    font-family: myFont5;
}

.epara6{
    position: absolute;
    top: 844%;
    left: 35%;
    color:white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
}

.epara7{
    position: absolute;
    top: 854%;
    left: 25%;
    color:white;
    text-align: center;
    font-size: 20px;
    font-family: myFont4;
    padding-bottom: 85%;
}

.f{
    position: absolute;
    top: 876%;
    left: 40%;
    font-size: 30px;
    border-radius: 50%;
    transition: .3s ease;
}

.in{
    position: absolute;
    top: 876%;
    left: 50%;
    font-size: 30px;
    transition: .3s ease;
}

.tw{
    position: absolute;
    top: 876%;
    left: 60%;
    font-size: 30px;
    transition: .3s ease;
}

.f:hover{
    background-color: yellow;
    border-radius: 50%;
    font-size: 35px;
}

.in:hover{
    background-color: yellow;
    border-radius: 50%;
    font-size: 35px;
}

.tw:hover{
    background-color: yellow;
    border-radius: 50%;
    font-size: 35px;
}

#scroll-top{
    position: absolute;
    top: 880%;
    left: 90%; 
    background-color: yellow;
    font-size: 30px;
    font-weight: bolder;
}

#details{
   position: absolute;
   top: 10%;
   left: 10%;
    width: 80%;
    background-color: yellow;
    padding: 5%;
    display: none;
}

.dtl{
    background-color:red;
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    color:black;
    font-family: myFont2;
}

.info{
    font-size: 18px;
    color:black;
    font-family: myFont2;
    margin-top: 2%;
}

.inps{
    background-color: transparent;
    border-style: none;
    border-bottom: 5px solid black;
    outline: none;
    font-size: large;
    color: red;
    font-family: myFont4;
}

.des{
    font-size: 18px;
    color:black;
    font-family: myFont4;
    margin-top: 4%;
}

.btn-style{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    width: 50%;
    height: 40px;
    background-color: red;
    color: black;
    font-family: myFont2;
    font-size: 20px;
    border-radius: 10px;
    border-style: inset;
}
